* {
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-bottom:2px solid #f08e80;
}

#title {
    color: #f08e80;
    font-size:xx-small;
}

.menu-opcoes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    cursor: pointer;

}

.menu-opcoes a {
    text-decoration: none;
    color: #f08e80;
    font-weight: bold;
}
main{
    height: 75%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 45px;
    margin-bottom: 0;

}

main div{
    width: 30%;
    height: 45%;
    border: 2px #f08e80 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    margin-right: 15px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(240, 142, 128, 0.7);
}

main div:hover{
    box-shadow: 0 4px 10px #f08e80 ;
    transition: box-shadow 0.7s, transform 0.7s;
    transform: scale(1.05) rotate(-1deg);
}

main div img{
    height: auto;
    width: 85%;
    border: 2px solid #f08e80;
    border-radius: 10px;
}

main div a{
    text-align: center;
    width: 20%;
    color: #f08e80 ;
    text-decoration: none;
    border: 1.5px #f08e80  solid;
    border-radius: 10px;
}
footer{
    width: 100%;
    height: 15%;
    background-color: #ffffff;

    font-weight: bold;
    text-align: center; 
    border-top:2px solid #f08e80;
}
.afooter{
    cursor: pointer;
align-items: center;
}