* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.contener {
    width: 90%;
    max-width: auto;
    max-height: auto;
    text-align: center;
}


.menu-opcoes {
    width: 100%;
    height: 10%;
    background-color: #faf0e6;
    text-align: center;
    font-weight: bold;
    position: absolute;

}

h1 {
    color: #4b4b4b;
    font-family: Comic sans MS;
    padding-top: 0.9%;
    text-align: center;
    font-size: x-large;
}



a:link {
    color: #4b4b4b;
    text-decoration: none;
    padding: 10px;
    font-family: Comic sans MS;
}

a:visited {
    color: #4b4b4b;
}

header {
    width: 100%;
    height: 30%;
    background-color: #faf0e6;
    text-align: center;
    font-weight: bold;


}
main {
    width: 100%;
    height: 55%;
    display: flex;
    background-color: blue;
    
}
section {
    width: 40%;
    height: 80%;
    border-radius: 10px;
    background-color: gray;
margin: 10px;
}
footer{
    width: 100%;
    height: 15%;
    background-color: #faf0e6;
    border-radius: 10px;
    font-weight: bold;
    text-align: center; 
}
.afooter{
align-items: center;
}