* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9494fb;
}

#center {
    text-align: center;
}

#p1 {
    display: flex;
    font-family: Comic sans MS;
    font-size: x-large;  /* Aproximadamente x-large */
    text-align: center;
    justify-content: center;
    color: aliceblue;
}

#imgBody {
    margin: 4vh;
    width: 15vw;  /* Aproximadamente 200px em uma tela de 1000px */
    height: 15vw;  /* Mantendo a proporção de 200px */
    border-radius: 1.5vw;  /* Aproximadamente 15px */
    border: 1vw solid #535355;  /* Aproximadamente 10px */
}

#conteiner {
    margin:2vh 17vh ;
    
    display: flex;
    justify-content: center;
    border: 2px solid gray;  /* Aproximadamente 1px */
    border-radius: 25px;
    padding: 2vh;
}

.conteinerS {
    border-radius: 0.5vw;  /* Aproximadamente 5px */
    text-align: center;
    background-color: #535355;
    width: 24vw;  /* Aproximadamente 200px */
    height: 37vh;  /* Aproximadamente 290px em uma tela de 1000px */
    margin: 1vw;  /* Aproximadamente 15px */
}
.conteinerS:hover{
background-color: aliceblue;

}

#title1 {
    margin: 1.3vw;  /* Aproximadamente 13px */
    font-family: Comic sans MS;
    color: aliceblue;
    text-align: center;
    font-size: 1.5  vw;  /* Aproximadamente 17px */
}

#text {
    color: aliceblue;
    font-family: Comic sans MS;
    margin: 0.5vw;  /* Aproximadamente 5px */
    font-size: 1vw;  /* Aproximadamente 13px */
}
