body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #B57EDC; 
    font-family: cursive;  
    color: rgb(255, 255, 255); 
    font-size: 2rem;
text-align: center;
}
p{
    font-size: 1.5em;
    text-shadow:5px 5px 5px #000000;
}
main {
    height: 75%;
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #000000;
}

#divP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 169, 184);
    border-radius: 15px;
    position: relative;
    border:2px solid #FFFFFF;
}

#img1, #img2, #img3, #img4 {
    width: 20%;
    height: 20%;
    position: absolute;
    border-radius: 15px;

}

#img1 {
    left: 4%;
    top: 6%;
}

#img2 {
    left: 77%;
    top: 6%;
}

#img3 {
    left: 77%;
    top: 77%;
}

#img4 {
    left: 4%;
    top: 77%;
}
ul li{
    font-size:small;
}
h1{
    font-size: 1.5em;
    text-shadow:5px 5px 5px #000000;
    opacity: 0.8;
}

