*{
    font-weight:bolder ;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../img/elenco.jpg);

}

main {
    height: 80%;
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../img/download.jpg);
    padding: 20px;
    gap: 20px;
}

#inputText {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
}

#botoes {
    display: grid;
    grid-template-columns: repeat(4, 60px); 
    gap: 10px;
}

button {
    color: red;
    height: 60px;
    width: 60px;
    font-size: 25px;
    background-image: url(../../img/images.jpg);
    background-size: cover;       /* cobre toda a área */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1.5px solid black;
}

button:hover {
    background-image: url(../../img/bh.jpg);
    background-size: cover;       /* cobre toda a área */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat;
}

button:active {
    transform: scale(0.95);
}
#buttonC{
    width: 450%;
}
