*{
    font-family: 'Press Start 2P', cursive; /* Define a fonte padrão estilo retrô */
}

body{
    background-image: url(./img/download\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Centraliza o conteúdo principal na tela */
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Define o tamanho da imagem da Pokédex */
figure{
    width: 400px;
    height: 600px;
}

/* Estilo do input de busca do Pokémon */
#inputPK{
    width: 60%;
    border-radius: 15px;
    text-align: center;
}

/* Container principal onde os elementos são posicionados sobre a imagem */
#container{
    position:relative;
}

/* Imagem do Pokémon posicionada dentro da Pokédex */
#imgPK{
    position: absolute;
    top: 30%;
    left: 30%;
}

/* Formulário de busca do Pokémon */
#formPK{
    position: absolute;
    top: 50%;
    left: 32%;
}

/* Nome do Pokémon */
#nome{
    position: relative;
    bottom:26%;
    left: 25%;
}

/* Primeira linha de informações (tipo e habilidade) */
#info1{
    position: relative;
    bottom: 25%;
    left: 25%;
}

/* Segunda linha de informações (peso e altura) */
#info2{
    position: relative;
    bottom: 25%;
    left: 25%;
}

/* Botões de navegação ("Voltar" e "Próximo") */
#botoes{
    position: relative;
    bottom: 17%;
    left: 35%;
}

/* Estilo dos botões em geral */
button{
    border-radius: 15px;
    background-color: #FFD700;
}

/* Estilos para telas pequenas (responsivo) */
@media (max-width: 500px) {
    #container {
        width: 300px;
    }

    #imgPK {
        top: 90px;
        left: 70px;
        width: 100px;
        height: 100px;
    }

    #fotoPK {
        width: 100%;
        height: 100%;
    }

    #inputPK, button {
        font-size: 8px;
    }

    #nome, #info1, #info2, #botoes {
        font-size: 8px;
    }

    #formPK {
        top: 220px;
    }

    #nome { top: 270px; }
    #info1 { top: 310px; }
    #info2 { top: 350px; }
    #botoes { top: 410px; }
}

