
p{
    color: red;
    background-color: black;
    text-align: center;
}
p{
    color: red;
    background-color: black;
    text-align: center;
}
div{
    color:blanchedalmond;

    text-align: center;
    background-image: url(../img/fla.png);
}